* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: ghostwhite;
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: #151719;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  box-sizing: border-box;
}

.head-wrap {
  box-sizing: border-box;
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  color: #fff;
}

.menu-wrap {
  display: flex;
}

.menu {
  display: flex;
}

.list-menu {
  padding: 0px 20px;
  list-style: none;
}

.url-menu {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.page-name {
  font-size: 20px;
}

input {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

input:hover {
  background-color: #fff;
  color: #000;
  border: #fff;
  cursor: pointer;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "card-1 card-2 card-3"
    "card-4 card-5 card-6"
    "card-7 card-8 card-9"
    "card-10 card-11 card-12";
  grid-gap: 20px;
  max-width: 1600px;
  width: 70%;
  margin: 40px auto;
  box-sizing: border-box
}

.card {
  background-color: #fff;
  border: 1px soid transparent;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.75);
}



.img {
  object-fit: cover;
  width: 100%;
  height: 160px;
}

.content-card {
  padding: 20px 15px;
  line-height: 25px;
  font-size: 18px;
  color: #000;
}

.tittle-card {
  padding-bottom: 15px;
  color: #000;
}

.url-card {
  text-decoration: none;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-6 {
  grid-area: card-6;
}

.card-7 {
  grid-area: card-7;
}

.card-8 {
  grid-area: card-8;
}

.card-9 {
  grid-area: card-9;
}

.card-10 {
  grid-area: card-10;
}

.card-11 {
  grid-area: card-11;
}

.card-12 {
  grid-area: card-12;
}

.footer {
  width: 100%;
  background-color: #151719;
  padding: 10px 0px;
  position: sticky;
  box-sizing: border-box;
}

.footer-wrap {
  box-sizing: border-box;
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  color: #fff;
}

.sidenav, .burger-btn{
  display: none;
}


@media screen and (max-width:1300px) {
  .contenedor {
    width: 85%;
  }

  .head-wrap {
    width: 85%;
  }

  .footer-wrap {
    width: 85%;
  }
}

@media screen and (max-width:1000px) {
  .contenedor {
    width: 87%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "card-1 card-1 card-2 card-2"
                         "card-3 card-3 card-4 card-4"
                         "card-5 card-5 card-6 card-6"
                         "card-7 card-7 card-8 card-8"
                         "card-9 card-9 card-10 card-10"
                         "card-11 card-11 card-12 card-12";
  }

  .head-wrap {
    width: 87%;
  }

  .header {
    position: initial;
  }
}

@media screen and (max-width:800px) {
  .head-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .list-menu {
    padding-left: 6%;
  }

  .menu-wrap {
    margin-top: 30px;
    justify-content: space-between;
    width: 95%;
    box-sizing: border-box;
  }

  .contenedor {
    width: 92%;
  }

  .page-name {
    align-self: start;
    padding-left: 30px;
  }

  input {
    box-sizing: border-box;
    margin-right: 10px;
  }

  .footer-wrap {
    width: 90%;
  }

}

@media screen and (max-width:700px) {
  .contenedor {
    width: 95%;
  }

  .page-name {
    padding-left: 20px;
  }

  .list-menu {
    padding-left: 1%;
  }

  input {
    margin-right: -3px;
  }

  .footer-wrap {
    width: 93%;
  }


}

@media screen and (max-width:500px) {
  .page-name {
    padding-left: 15px;
  }

  .contenedor {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "card-1 card-1 card-1"
                         "card-2 card-2 card-2"
                         "card-3 card-3 card-3"
                         "card-4 card-4 card-4"
                         "card-5 card-5 card-5"
                         "card-6 card-6 card-6"
                         "card-7 card-7 card-7"
                         "card-8 card-8 card-8"
                         "card-9 card-9 card-9"
                         "card-10 card-10 card-10"
                         "card-11 card-11 card-11"
                         "card-12 card-12 card-12";
  }

  .footer-wrap {
    width: 95%;
  }
}

@media screen and (max-width:400px) {

  .menu,
  input {
    display: none;
  }

  input {
    margin-top: 20px;
  }

  .page-name {
    align-self: center;
    padding-left: 0;
  }

  .footer-wrap {
    flex-direction: column;
  }

  .cookies {
    padding-bottom: 10px;
  }


  /*sidebar*/

  /* The side navigation menu */
.sidenav {
  display: initial;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #151719; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger-btn{
  font-size: 30px;
  display: initial;
  
}
.media-menu{
  display: flex;
  width: 93%;
  flex-direction: row;
  justify-content: space-between;
}
.menu-wrap{
  margin: 0;
}

}